@font-face {
    font-family: 'mountains';
    src: url('../../assets/fonts/beyond_the_mountains.ttf');
}
header{
    position: relative;
    height: 100%
}
.siteName{
    font-size: 30px;
    font-weight: 800;
}

.header-bar{
    padding: 3rem;
    color: white;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navLinks {
    display: flex;
    list-style: none;
    margin: 0;
    justify-content: flex-end;
    padding: 0;
    width: 100%;
}

.navLinks li{
    padding: 0 40px;
    text-transform: uppercase;
}
.hero{
    padding: 250px 0;
    background-image: url('../../assets/images/cover.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    height: 1000px;
}

.displayHeader h2{
    font-size: 120px;
    padding: 50px;
    background: linear-gradient(#00d0ff, #25ffbf);
    background-clip: padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'mountains';
    text-align: center;
    transition: 0.1s ease-in-out;
}

@media all and (min-width: 992px) {
    .displayHeader h2{
        font-size: 170px;
        transition: 0.1s ease-in-out;
    }
}
